/* TRIPS LIST */

.trips-list-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.trips-list-wrapper {
  display: flex;
  overflow-x: hidden;
}

.trips-list {
  display: flex;
  gap: 6rem;
  scrollbar-width: none; /* Firefox */
  position: relative;
  overflow-x: auto;
}

.trips-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.prev-btn,
.next-btn,
.sort-up-btn,
.sort-down-btn {
  color: #b5afc0;
  background-color: transparent;
  position: absolute;
  z-index: 2;
}

.prev-btn,
.next-btn {
  font-size: 5.4rem;
}

.prev-btn {
  left: -4rem;
}

.next-btn {
  right: -4rem;
}

.prev-btn:hover,
.next-btn:hover,
.sort-up-btn:hover,
.sort-down-btn:hover {
  color: #3d426a;
}

.prev-btn:disabled:hover,
.next-btn:disabled:hover {
  color: #b5afc0;
  cursor: default;
}

.sort-up-btn,
.sort-down-btn {
  font-size: 4rem;
  right: -4rem;
}

.sort-up-btn {
  top: -5.4rem;
}

.sort-down-btn {
  top: -4.2rem;
}
