/* ----- GENERAL ----- */

:root {
  --color-second: #110e3b;
}

html {
  font-size: 62.5%;
  /* font-size: 100%; */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 3rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

/* ----- MEDIA QUERIES ----- */

/* Phone / */
@media only screen and (max-width: 514px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 412px) {
  html {
    font-size: 45%;
  }
}

/* Tablet /
@media only screen and (min-width: 601px) and (max-width: 900px) {
/ Styles for tablets 
} */

/* Laptop / */
/* @media only screen and (min-width: 901px) and (max-width: 1200px) { */
/* @media only screen and (max-width: 950px) {
} */

/* Mobile Landscape /
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/ Styles for phones in landscape
} */

/* Tablet Landscape /
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
/ Styles for tablets in landscape
} */

@media only screen and (min-width: 2400px) {
  html {
    font-size: 100%;
  }
}
