/* ----- GENERAL ----- */

:root {
  --color-second: #110e3b;
}

html {
  /* font-size: 62.5%; */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 300;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

/* ----- LAYOUT ----- */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  min-height: 100vh;
}

.main-block {
  flex-grow: 2;
  padding: 0 60px;
  /* width: 1360px; */
  width: 68%;
}

.main-block > * {
  margin: 50px 0;
}

.aside-block {
  flex-grow: 1;
  background-color: var(--color-second);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32%;
}

.aside-content-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.today-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 28%;
}

.aside-block .temperature-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside-block .temperature {
  font-size: 56px;
}

.aside-block .temperature > sup {
  font-size: 28px;
}

.aside-block .day {
  font-size: 50px;
  font-weight: 500;
}

.aside-block .city {
  font-size: 34px;
  font-weight: 200;
}

/* ----- MAIN BLOCK ----- */

.search-input {
  position: relative;
}

.search-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

input[type='text'] {
  width: 250px;
  box-sizing: border-box;
  border: 2px solid #f2f4f8;
  border-radius: 8px;
  font-size: 16px;
  background-color: #f2f4f8;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  margin: 0;
  transition: width 0.4s ease-in-out;
}

input[type='text']:focus {
  width: 100%;
}

/* TRIPS LIST */

.trips-list {
  display: flex;
  justify-content: left;
  gap: 70px;
  max-width: 1260px;
  overflow-x: auto;
}

.trip-item,
.add-trip-button {
  min-height: 230px;
  width: 230px;
  cursor: pointer;
}

.trip-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  border: 1px solid #f6f6f6;
}

.trip-info > * {
  line-height: 2;
}

.add-trip-button {
  background-color: #f2f4f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.trip-item > img {
  width: 230px;
  height: 230px;
  object-fit: cover;
}

.selected {
  border-color: #7dc0ff;
}

/* WEATHER LIST */

.weather-list {
  display: flex;
  justify-content: left;
  gap: 32px;
  max-width: 1260px;
  overflow-y: auto;
}

.weather-item {
  height: 150px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather-item > * {
  font-weight: 500;
}

.weather-item > img {
  width: 60px;
}

/* ----- ASIDE BLOCK ----- */

.countdown-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-digits {
  font-size: 38px;
  font-weight: 700;
}

/* ----- MODAL ----- */

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
}

.modal-header button {
  background-color: #fff;
  font-size: large;
}

.modal-inputs {
  height: 86%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.modal-input {
  width: 100%;
}

.modal-input select,
.modal-input input {
  margin: 20px auto;
}

.required-label::before {
  content: '* ';
  color: #ff0000;
}

.modal-input > select,
.modal-input > input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.modal-header,
.modal-inputs,
.modal-footer {
  padding: 2%;
}

.modal-footer {
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.modal-footer .buttons-container {
  width: 25%;
  display: flex;
  justify-content: space-around;
}

.modal-footer button {
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 3px;
}

.modal-footer .close-btn {
  color: #000;
  background-color: #fff;
  border: 1.4px solid #d9d9d9;
}

.modal-footer .save-btn {
  color: #fff;
  background-color: #1890ff;
  border: 1.4px solid #1890ff;
}

.modal-footer .close-btn:hover {
  background-color: #d9d9d9;
  color: #000;
}

.modal-footer .save-btn:hover {
  background-color: #fff;
  color: #1890ff;
}

/* ----- OTHERS ----- */

.overlap {
  width: 100%;
  height: 100%;
  background-color: #110e3be8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
